/* Home */

.Home {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end; /* 요소를 수직으로 아래쪽으로 정렬 */
    
    white-space: pre-line; /* 텍스트 줄바꿈 적용*/
}
/*justify-content: center; /* 요소를 수평으로 가운데로 정렬 */